// Define light mode colors
$white: #ffffff;
$black: #000;
$theme-color-2: #FFB013;
$theme-color-2-2: #A2A2A2;
$footer-bg: #000;
$theme-color: #2467EC;
$theme-bg: #F6F8FB;
$body-text: #d1d1d1;
$border: #edeef2;
$heading-color: #141517;
$section-bg: #F6F8FB;

// Define dark mode colors
$dark-white: #111111; // darker shade for text
$dark-black: #f9f9f9; // lighter shade for backgrounds
$dark-theme-color-2: #cc8a00; // darker shade of theme-color-2
$dark-theme-color-2-2: #888888; // darker shade of theme-color-2-2
$dark-footer-bg: #222222; // darker shade for footer background
$dark-theme-color: #1a47a0; // darker shade of theme color
$dark-theme-bg: #121212; // common dark background color
$dark-body-text: #d1d1d1; // lighter shade for dark mode text
$dark-border: #333333; // darker border color
$dark-heading-color: #e0e0e0; // lighter heading color for better readability in dark mode
$dark-section-bg: #242424; // darker background for sections
